artifacts/leilao-cb/public/vsl.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/CASASBAHIAVSL_1778045277089.mp4 filter=lfs diff=lfs merge=lfs -text
leilao-cb-projeto.tar.gz filter=lfs diff=lfs merge=lfs -text
